<h1>Listing users</h1>
<%= link_to 'New User', new_user_path %><br />
<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Active</th>
    <th>Preferences</th>
    <th colspan="3">Action</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.title %></td>
    <td><%= "Active" unless user.active? %></td>
    <td><%= Array(user.preferences).collect(&:titlecase).join(", ") %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'See Dynamic Partial', refresh_index_path %> Auto Reload Partial<br />

<%= link_to 'Next if', next_if_path %><br />

<%= link_to 'Lock', clone_path %> Process.pid is_running or not<br />

<%= link_to 'Multiple rows in a model in form'%><br />

<%= link_to 'map non primary key as foreign key', pmap_path %><br />

<%= link_to 'array equilibrium', equilibrium_path %>

